/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-gototop-name: 'sprite-gototop';
$sprite-gototop-x: 0px;
$sprite-gototop-y: 91px;
$sprite-gototop-offset-x: 0px;
$sprite-gototop-offset-y: -91px;
$sprite-gototop-width: 42px;
$sprite-gototop-height: 42px;
$sprite-gototop-total-width: 205px;
$sprite-gototop-total-height: 201px;
$sprite-gototop-image: '../img/sprite.png';
$sprite-gototop: (0px, 91px, 0px, -91px, 42px, 42px, 205px, 201px, '../img/sprite.png', 'sprite-gototop', );
$sprite-ico-fb-name: 'sprite-ico-fb';
$sprite-ico-fb-x: 23px;
$sprite-ico-fb-y: 133px;
$sprite-ico-fb-offset-x: -23px;
$sprite-ico-fb-offset-y: -133px;
$sprite-ico-fb-width: 23px;
$sprite-ico-fb-height: 23px;
$sprite-ico-fb-total-width: 205px;
$sprite-ico-fb-total-height: 201px;
$sprite-ico-fb-image: '../img/sprite.png';
$sprite-ico-fb: (23px, 133px, -23px, -133px, 23px, 23px, 205px, 201px, '../img/sprite.png', 'sprite-ico-fb', );
$sprite-ico-in-name: 'sprite-ico-in';
$sprite-ico-in-x: 0px;
$sprite-ico-in-y: 133px;
$sprite-ico-in-offset-x: 0px;
$sprite-ico-in-offset-y: -133px;
$sprite-ico-in-width: 23px;
$sprite-ico-in-height: 23px;
$sprite-ico-in-total-width: 205px;
$sprite-ico-in-total-height: 201px;
$sprite-ico-in-image: '../img/sprite.png';
$sprite-ico-in: (0px, 133px, 0px, -133px, 23px, 23px, 205px, 201px, '../img/sprite.png', 'sprite-ico-in', );
$sprite-ico-ln-name: 'sprite-ico-ln';
$sprite-ico-ln-x: 46px;
$sprite-ico-ln-y: 133px;
$sprite-ico-ln-offset-x: -46px;
$sprite-ico-ln-offset-y: -133px;
$sprite-ico-ln-width: 23px;
$sprite-ico-ln-height: 23px;
$sprite-ico-ln-total-width: 205px;
$sprite-ico-ln-total-height: 201px;
$sprite-ico-ln-image: '../img/sprite.png';
$sprite-ico-ln: (46px, 133px, -46px, -133px, 23px, 23px, 205px, 201px, '../img/sprite.png', 'sprite-ico-ln', );
$sprite-ico-soctw-fb-name: 'sprite-ico-soctw-fb';
$sprite-ico-soctw-fb-x: 83px;
$sprite-ico-soctw-fb-y: 91px;
$sprite-ico-soctw-fb-offset-x: -83px;
$sprite-ico-soctw-fb-offset-y: -91px;
$sprite-ico-soctw-fb-width: 24px;
$sprite-ico-soctw-fb-height: 28px;
$sprite-ico-soctw-fb-total-width: 205px;
$sprite-ico-soctw-fb-total-height: 201px;
$sprite-ico-soctw-fb-image: '../img/sprite.png';
$sprite-ico-soctw-fb: (83px, 91px, -83px, -91px, 24px, 28px, 205px, 201px, '../img/sprite.png', 'sprite-ico-soctw-fb', );
$sprite-ico-soctw-gp-name: 'sprite-ico-soctw-gp';
$sprite-ico-soctw-gp-x: 107px;
$sprite-ico-soctw-gp-y: 91px;
$sprite-ico-soctw-gp-offset-x: -107px;
$sprite-ico-soctw-gp-offset-y: -91px;
$sprite-ico-soctw-gp-width: 24px;
$sprite-ico-soctw-gp-height: 28px;
$sprite-ico-soctw-gp-total-width: 205px;
$sprite-ico-soctw-gp-total-height: 201px;
$sprite-ico-soctw-gp-image: '../img/sprite.png';
$sprite-ico-soctw-gp: (107px, 91px, -107px, -91px, 24px, 28px, 205px, 201px, '../img/sprite.png', 'sprite-ico-soctw-gp', );
$sprite-ico-soctw-in-name: 'sprite-ico-soctw-in';
$sprite-ico-soctw-in-x: 131px;
$sprite-ico-soctw-in-y: 91px;
$sprite-ico-soctw-in-offset-x: -131px;
$sprite-ico-soctw-in-offset-y: -91px;
$sprite-ico-soctw-in-width: 24px;
$sprite-ico-soctw-in-height: 28px;
$sprite-ico-soctw-in-total-width: 205px;
$sprite-ico-soctw-in-total-height: 201px;
$sprite-ico-soctw-in-image: '../img/sprite.png';
$sprite-ico-soctw-in: (131px, 91px, -131px, -91px, 24px, 28px, 205px, 201px, '../img/sprite.png', 'sprite-ico-soctw-in', );
$sprite-ico-soctw-ln-name: 'sprite-ico-soctw-ln';
$sprite-ico-soctw-ln-x: 179px;
$sprite-ico-soctw-ln-y: 91px;
$sprite-ico-soctw-ln-offset-x: -179px;
$sprite-ico-soctw-ln-offset-y: -91px;
$sprite-ico-soctw-ln-width: 24px;
$sprite-ico-soctw-ln-height: 28px;
$sprite-ico-soctw-ln-total-width: 205px;
$sprite-ico-soctw-ln-total-height: 201px;
$sprite-ico-soctw-ln-image: '../img/sprite.png';
$sprite-ico-soctw-ln: (179px, 91px, -179px, -91px, 24px, 28px, 205px, 201px, '../img/sprite.png', 'sprite-ico-soctw-ln', );
$sprite-ico-soctw-tw-name: 'sprite-ico-soctw-tw';
$sprite-ico-soctw-tw-x: 155px;
$sprite-ico-soctw-tw-y: 91px;
$sprite-ico-soctw-tw-offset-x: -155px;
$sprite-ico-soctw-tw-offset-y: -91px;
$sprite-ico-soctw-tw-width: 24px;
$sprite-ico-soctw-tw-height: 28px;
$sprite-ico-soctw-tw-total-width: 205px;
$sprite-ico-soctw-tw-total-height: 201px;
$sprite-ico-soctw-tw-image: '../img/sprite.png';
$sprite-ico-soctw-tw: (155px, 91px, -155px, -91px, 24px, 28px, 205px, 201px, '../img/sprite.png', 'sprite-ico-soctw-tw', );
$sprite-ico-socwid-em-name: 'sprite-ico-socwid-em';
$sprite-ico-socwid-em-x: 92px;
$sprite-ico-socwid-em-y: 133px;
$sprite-ico-socwid-em-offset-x: -92px;
$sprite-ico-socwid-em-offset-y: -133px;
$sprite-ico-socwid-em-width: 23px;
$sprite-ico-socwid-em-height: 21px;
$sprite-ico-socwid-em-total-width: 205px;
$sprite-ico-socwid-em-total-height: 201px;
$sprite-ico-socwid-em-image: '../img/sprite.png';
$sprite-ico-socwid-em: (92px, 133px, -92px, -133px, 23px, 21px, 205px, 201px, '../img/sprite.png', 'sprite-ico-socwid-em', );
$sprite-ico-socwid-fb-name: 'sprite-ico-socwid-fb';
$sprite-ico-socwid-fb-x: 21px;
$sprite-ico-socwid-fb-y: 156px;
$sprite-ico-socwid-fb-offset-x: -21px;
$sprite-ico-socwid-fb-offset-y: -156px;
$sprite-ico-socwid-fb-width: 21px;
$sprite-ico-socwid-fb-height: 21px;
$sprite-ico-socwid-fb-total-width: 205px;
$sprite-ico-socwid-fb-total-height: 201px;
$sprite-ico-socwid-fb-image: '../img/sprite.png';
$sprite-ico-socwid-fb: (21px, 156px, -21px, -156px, 21px, 21px, 205px, 201px, '../img/sprite.png', 'sprite-ico-socwid-fb', );
$sprite-ico-socwid-gp-name: 'sprite-ico-socwid-gp';
$sprite-ico-socwid-gp-x: 115px;
$sprite-ico-socwid-gp-y: 133px;
$sprite-ico-socwid-gp-offset-x: -115px;
$sprite-ico-socwid-gp-offset-y: -133px;
$sprite-ico-socwid-gp-width: 23px;
$sprite-ico-socwid-gp-height: 21px;
$sprite-ico-socwid-gp-total-width: 205px;
$sprite-ico-socwid-gp-total-height: 201px;
$sprite-ico-socwid-gp-image: '../img/sprite.png';
$sprite-ico-socwid-gp: (115px, 133px, -115px, -133px, 23px, 21px, 205px, 201px, '../img/sprite.png', 'sprite-ico-socwid-gp', );
$sprite-ico-socwid-tw-name: 'sprite-ico-socwid-tw';
$sprite-ico-socwid-tw-x: 0px;
$sprite-ico-socwid-tw-y: 156px;
$sprite-ico-socwid-tw-offset-x: 0px;
$sprite-ico-socwid-tw-offset-y: -156px;
$sprite-ico-socwid-tw-width: 21px;
$sprite-ico-socwid-tw-height: 21px;
$sprite-ico-socwid-tw-total-width: 205px;
$sprite-ico-socwid-tw-total-height: 201px;
$sprite-ico-socwid-tw-image: '../img/sprite.png';
$sprite-ico-socwid-tw: (0px, 156px, 0px, -156px, 21px, 21px, 205px, 201px, '../img/sprite.png', 'sprite-ico-socwid-tw', );
$sprite-ico-sprite-name: 'sprite-ico-sprite';
$sprite-ico-sprite-x: 138px;
$sprite-ico-sprite-y: 133px;
$sprite-ico-sprite-offset-x: -138px;
$sprite-ico-sprite-offset-y: -133px;
$sprite-ico-sprite-width: 25px;
$sprite-ico-sprite-height: 19px;
$sprite-ico-sprite-total-width: 205px;
$sprite-ico-sprite-total-height: 201px;
$sprite-ico-sprite-image: '../img/sprite.png';
$sprite-ico-sprite: (138px, 133px, -138px, -133px, 25px, 19px, 205px, 201px, '../img/sprite.png', 'sprite-ico-sprite', );
$sprite-ico-star-name: 'sprite-ico-star';
$sprite-ico-star-x: 42px;
$sprite-ico-star-y: 91px;
$sprite-ico-star-offset-x: -42px;
$sprite-ico-star-offset-y: -91px;
$sprite-ico-star-width: 41px;
$sprite-ico-star-height: 36px;
$sprite-ico-star-total-width: 205px;
$sprite-ico-star-total-height: 201px;
$sprite-ico-star-image: '../img/sprite.png';
$sprite-ico-star: (42px, 91px, -42px, -91px, 41px, 36px, 205px, 201px, '../img/sprite.png', 'sprite-ico-star', );
$sprite-ico-tw-name: 'sprite-ico-tw';
$sprite-ico-tw-x: 69px;
$sprite-ico-tw-y: 133px;
$sprite-ico-tw-offset-x: -69px;
$sprite-ico-tw-offset-y: -133px;
$sprite-ico-tw-width: 23px;
$sprite-ico-tw-height: 23px;
$sprite-ico-tw-total-width: 205px;
$sprite-ico-tw-total-height: 201px;
$sprite-ico-tw-image: '../img/sprite.png';
$sprite-ico-tw: (69px, 133px, -69px, -133px, 23px, 23px, 205px, 201px, '../img/sprite.png', 'sprite-ico-tw', );
$sprite-row-six-name: 'sprite-row-six';
$sprite-row-six-x: 0px;
$sprite-row-six-y: 0px;
$sprite-row-six-offset-x: 0px;
$sprite-row-six-offset-y: 0px;
$sprite-row-six-width: 205px;
$sprite-row-six-height: 91px;
$sprite-row-six-total-width: 205px;
$sprite-row-six-total-height: 201px;
$sprite-row-six-image: '../img/sprite.png';
$sprite-row-six: (0px, 0px, 0px, 0px, 205px, 91px, 205px, 201px, '../img/sprite.png', 'sprite-row-six', );
$sprite-triangle-name: 'sprite-triangle';
$sprite-triangle-x: 0px;
$sprite-triangle-y: 177px;
$sprite-triangle-offset-x: 0px;
$sprite-triangle-offset-y: -177px;
$sprite-triangle-width: 14px;
$sprite-triangle-height: 24px;
$sprite-triangle-total-width: 205px;
$sprite-triangle-total-height: 201px;
$sprite-triangle-image: '../img/sprite.png';
$sprite-triangle: (0px, 177px, 0px, -177px, 14px, 24px, 205px, 201px, '../img/sprite.png', 'sprite-triangle', );
$spritesheet-width: 205px;
$spritesheet-height: 201px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-gototop, $sprite-ico-fb, $sprite-ico-in, $sprite-ico-ln, $sprite-ico-soctw-fb, $sprite-ico-soctw-gp, $sprite-ico-soctw-in, $sprite-ico-soctw-ln, $sprite-ico-soctw-tw, $sprite-ico-socwid-em, $sprite-ico-socwid-fb, $sprite-ico-socwid-gp, $sprite-ico-socwid-tw, $sprite-ico-sprite, $sprite-ico-star, $sprite-ico-tw, $sprite-row-six, $sprite-triangle, );
$spritesheet: (205px, 201px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
